name: Docker Compose CI/CD

on:
    push:
        branches: ["CICD"]
    pull_request:
        branches: ["CICD"]

jobs:
    build-and-push:
        runs-on: ubuntu-latest

        steps:
            # Checkout repository
            - name: Checkout repository
              uses: actions/checkout@v4

            # Docker login
            - name: Docker login
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}

            # Set environment variables
            - name: Set environment variables
              run: echo "DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}" >> $GITHUB_ENV

            # Build and Push Images Using Docker Compose
            - name: Build and Push Images
              env:
                  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
              run: |
                  docker compose -f docker-compose.yml build
                  docker compose -f docker-compose.yml push
    deploy:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - name: SSH to server
              uses: appleboy/ssh-action@v1.1.0
              with:
                  host: ${{ secrets.SERVER_HOST }}
                  username: ${{ secrets.SERVER_USERNAME }}
                  key: ${{ secrets.SERVER_KEY }}
                  port: ${{ secrets.SERVER_PORT }}
                  envs: DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}
                  script_path: scripts/deploy.sh
